services:
  postgres:
    image: postgres:16-alpine
    container_name: apoint-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: apoint
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '55432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: apoint-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  mailpit:
    image: axllent/mailpit:latest
    container_name: apoint-mailpit
    restart: unless-stopped
    ports:
      - '8025:8025'
      - '1025:1025'

volumes:
  postgres_data:
  redis_data:
